#wrap {
  overflow: hidden; }
  #wrap .l-header {
    height: 155px;
    min-width: 999px;
    background: url(../img/headerbg.png) center 0 no-repeat;
    background-size: cover;
    background-color: #f9f9f9;
    box-sizing: border-box;
    position: relative; }
    #wrap .l-header .l-head-top {
      width: 97%;
      margin: 0 auto;
      box-sizing: border-box; }
      #wrap .l-header .l-head-top .l-list {
        float: left; }
        #wrap .l-header .l-head-top .l-list li {
          float: left;
          font-size: 14px;
          padding: 18px 6px 0px 6px; }
          #wrap .l-header .l-head-top .l-list li a {
            color: white; }
      #wrap .l-header .l-head-top .l-fm {
        float: left;
        font-size: 16px;
        width: 30.3%;
        margin-left: 100px;
        position: relative; }
        #wrap .l-header .l-head-top .l-fm .searchword {
          position: absolute;
          top: 46px;
          left: 0;
          display: none;
          z-index: 90000;
          width: 400px;
          min-height: 200px;
          box-sizing: border-box; }
          #wrap .l-header .l-head-top .l-fm .searchword p {
            width: 400px;
            height: 32px;
            background: white;
            padding: 6px;
            box-sizing: border-box; }
            #wrap .l-header .l-head-top .l-fm .searchword p:hover {
              background: #ccc; }
        #wrap .l-header .l-head-top .l-fm input {
          width: 90%;
          height: 36px;
          box-sizing: border-box;
          float: left;
          outline: none;
          border: none;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          margin: 10px 0;
          padding: 0 8px; }
        #wrap .l-header .l-head-top .l-fm .l-btn1 {
          cursor: pointer;
          height: 36px;
          width: 10%;
          background: #e7e7e7;
          box-sizing: border-box;
          float: left;
          font-size: 20px !important;
          color: #333 !important;
          outline: none;
          border: none;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          margin-top: 10px; }
          #wrap .l-header .l-head-top .l-fm .l-btn1:hover {
            color: skyblue !important; }
      #wrap .l-header .l-head-top .l-login {
        float: right; }
        #wrap .l-header .l-head-top .l-login .l-loginimg {
          line-height: 32px;
          float: left;
          margin: 12px 0; }
          #wrap .l-header .l-head-top .l-login .l-loginimg img {
            width: 32px;
            height: 32px;
            border-radius: 50%; }
          #wrap .l-header .l-head-top .l-login .l-loginimg a {
            color: white; }
        #wrap .l-header .l-head-top .l-login .l-btn2 {
          width: 100px;
          height: 36px;
          background: #fb7299;
          margin: 10px 0 0px 20px;
          border: none;
          border-radius: 2px;
          color: white;
          cursor: pointer; }
    #wrap .l-header .l-head-bottom {
      height: 99px;
      width: 100%;
      position: absolute;
      left: 120px;
      top: 50px; }
      #wrap .l-header .l-head-bottom:hover .l-title {
        display: block; }
      #wrap .l-header .l-head-bottom img {
        width: 162px;
        height: 78px;
        cursor: pointer;
        float: left;
        position: absolute;
        top: 20px; }
      #wrap .l-header .l-head-bottom .l-title {
        display: none;
        width: 158px;
        cursor: pointer;
        padding: 6px;
        margin-left: 300px;
        background-color: rgba(0, 0, 0, 0.68);
        margin-top: 50px;
        border-radius: 2px;
        color: white; }
  #wrap .l-nav {
    width: 999px;
    margin: 0 auto;
    height: 108px; }
    #wrap .l-nav .l-nav-left {
      width: 165px;
      float: left;
      text-align: center; }
      #wrap .l-nav .l-nav-left span {
        font-size: 14px;
        padding: 25px 7px 0 7px;
        float: left; }
        #wrap .l-nav .l-nav-left span a {
          color: #333; }
          #wrap .l-nav .l-nav-left span a:hover {
            color: steelblue; }
        #wrap .l-nav .l-nav-left span img {
          display: block; }
    #wrap .l-nav .l-nav-mid {
      width: 600px;
      float: left;
      font-size: 14px; }
      #wrap .l-nav .l-nav-mid .l-navlist {
        display: flex;
        flex-wrap: wrap;
        padding-top: 28px; }
        #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) {
          position: relative;
          width: 12.5%;
          padding-bottom: 19px; }
          #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) a {
            color: #333; }
            #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) a:hover {
              color: #73c9e5; }
          #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) p {
            position: absolute;
            background: white;
            display: none;
            padding: 5px;
            text-align: center;
            top: -106px;
            left: 0;
            z-index: 1000; }
            #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) p span {
              padding: 8px 2px;
              cursor: pointer;
              display: inline-block;
              font-size: 12px; }
              #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) p span:hover {
                color: #73c9e5; }
          #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(1) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(2) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(3) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(4) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(5) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(6) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(7) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(8) i {
            color: white;
            text-align: center;
            width: 30px;
            display: inline-block;
            background: #73c9e5;
            border-radius: 2px;
            font-size: 12px;
            transform: scale(0.85); }
        #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15), #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) {
          position: relative;
          width: 12.5%;
          padding-bottom: 19px; }
          #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15) a, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) a {
            color: #333; }
            #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15) a:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) a:hover {
              color: #73c9e5; }
          #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15) p, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) p {
            position: absolute;
            background: white;
            display: none;
            padding: 5px;
            text-align: center;
            top: 20px;
            left: 0;
            z-index: 1000; }
            #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15) p span, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) p span {
              padding: 8px 2px;
              cursor: pointer;
              display: inline-block;
              font-size: 12px; }
              #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15) p span:hover, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) p span:hover {
                color: #73c9e5; }
          #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(9) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(10) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(11) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(12) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(13) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(14) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(15) i, #wrap .l-nav .l-nav-mid .l-navlist li:nth-child(16) i {
            color: white;
            text-align: center;
            width: 30px;
            display: inline-block;
            background: #73c9e5;
            border-radius: 2px;
            font-size: 12px;
            transform: scale(0.85); }
    #wrap .l-nav .l-nav-right {
      float: left;
      width: 234px; }
      #wrap .l-nav .l-nav-right .l-right-nav-list {
        padding-top: 7px; }
        #wrap .l-nav .l-nav-right .l-right-nav-list li {
          padding-top: 21px;
          float: left;
          width: 33.3%;
          font-size: 14px; }
          #wrap .l-nav .l-nav-right .l-right-nav-list li a {
            color: #333; }
            #wrap .l-nav .l-nav-right .l-right-nav-list li a:hover {
              color: #73c9e5; }
          #wrap .l-nav .l-nav-right .l-right-nav-list li img {
            margin-right: 3px;
            margin-left: 11px; }
        #wrap .l-nav .l-nav-right .l-right-nav-list .l-navlivebox {
          position: relative; }
          #wrap .l-nav .l-nav-right .l-right-nav-list .l-navlivebox p {
            position: absolute;
            background: white;
            padding: 5px;
            display: none;
            width: 150%;
            text-align: center;
            top: 40px;
            left: 0;
            z-index: 1000; }
            #wrap .l-nav .l-nav-right .l-right-nav-list .l-navlivebox p span {
              padding: 10px 10px;
              cursor: pointer;
              display: inline-block;
              font-size: 12px; }
              #wrap .l-nav .l-nav-right .l-right-nav-list .l-navlivebox p span:hover {
                color: #73c9e5; }
  #wrap .l-banner {
    width: 999px;
    margin: 0 auto;
    height: 202px; }
    #wrap .l-banner .l-banner-left {
      position: relative;
      cursor: pointer;
      float: left;
      height: 202px;
      width: 459px;
      margin-right: 10px; }
      #wrap .l-banner .l-banner-left:hover .l-left-banner-a {
        display: block; }
      #wrap .l-banner .l-banner-left .l-left-banner-a {
        position: absolute;
        padding: 5px 8px;
        background-color: rgba(0, 0, 0, 0.68);
        z-index: 10;
        bottom: 40px;
        right: 10px;
        color: white;
        font-size: 12px;
        border-radius: 2px;
        display: none; }
      #wrap .l-banner .l-banner-left .swiper-container {
        width: 459px;
        height: 202px; }
        #wrap .l-banner .l-banner-left .swiper-container img {
          width: 459px;
          height: 202px; }
        #wrap .l-banner .l-banner-left .swiper-container .swiper-slide {
          position: relative; }
          #wrap .l-banner .l-banner-left .swiper-container .swiper-slide p {
            position: absolute;
            left: 10px;
            bottom: 10px;
            font-size: 12px;
            color: white; }
        #wrap .l-banner .l-banner-left .swiper-container .my-bullet-active {
          background: url(../img/celectedpic.png) 0 0 no-repeat;
          width: 15px;
          height: 15px;
          background-size: cover;
          background-color: blue; }
    #wrap .l-banner .l-banner-right {
      float: left;
      width: 530px;
      height: 202px;
      overflow: hidden;
      position: relative; }
      #wrap .l-banner .l-banner-right:hover .l-prev, #wrap .l-banner .l-banner-right:hover .l-next {
        display: block; }
      #wrap .l-banner .l-banner-right .l-prev {
        width: 32px;
        height: 70px;
        position: absolute;
        color: white;
        font-size: 36px !important;
        text-align: center;
        border-radius: 2px;
        display: none;
        top: 66px;
        left: 0;
        z-index: 500;
        background-color: rgba(0, 0, 0, 0.68);
        cursor: pointer; }
      #wrap .l-banner .l-banner-right .l-next {
        width: 32px;
        height: 70px;
        position: absolute;
        text-align: center;
        top: 66px;
        font-size: 36px !important;
        border-radius: 2px;
        color: white;
        z-index: 500;
        display: none;
        right: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.68); }
      #wrap .l-banner .l-banner-right .l-allbox {
        width: 530px;
        height: 202px;
        overflow: hidden;
        position: relative; }
        #wrap .l-banner .l-banner-right .l-allbox .l-rightbox {
          z-index: 10;
          display: none;
          position: absolute;
          width: 540px;
          height: 212px;
          float: left;
          overflow: hidden;
          border-radius: 2px; }
          #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox {
            cursor: pointer;
            overflow: hidden;
            position: relative;
            width: 170px;
            height: 96px;
            margin-right: 10px;
            margin-bottom: 10px;
            float: left;
            background-color: violet;
            border-radius: 2px; }
            #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox:hover .l-info {
              background-color: rgba(0, 0, 0, 0.68); }
            #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox img {
              width: 170px;
              height: 96px; }
            #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox .l-info {
              padding: 6px;
              position: absolute;
              top: 68px;
              left: 0; }
              #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox .l-info p {
                font-size: 14px;
                height: 40px;
                margin-bottom: 10px;
                overflow: hidden;
                color: white; }
              #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox .l-info span {
                display: block;
                font-size: 12px;
                color: #ccc; }
              #wrap .l-banner .l-banner-right .l-allbox .l-rightbox .l-infobox .l-info i {
                display: block;
                font-size: 12px;
                color: #ccc; }
  #wrap .l-extend {
    width: 999px;
    height: 220px;
    margin: 41px auto; }
    #wrap .l-extend .l-extend-left {
      float: left;
      width: 710px;
      margin-right: 24px;
      height: 220px; }
      #wrap .l-extend .l-extend-left .l-extend-left-h {
        height: 26px;
        line-height: 26px;
        margin-bottom: 26px; }
        #wrap .l-extend .l-extend-left .l-extend-left-h span {
          font-size: 20px;
          color: #333;
          margin-right: 22px;
          margin-left: 6px; }
        #wrap .l-extend .l-extend-left .l-extend-left-h a {
          color: #444;
          font-size: 12px; }
          #wrap .l-extend .l-extend-left .l-extend-left-h a:hover {
            color: #73c9e5; }
        #wrap .l-extend .l-extend-left .l-extend-left-h .iconfont {
          color: #f0554c; }
      #wrap .l-extend .l-extend-left .l-extend-left-b {
        overflow: hidden;
        height: 170px; }
        #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all {
          width: 720px; }
          #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox {
            width: 170px;
            height: 170px;
            margin-right: 10px;
            float: left; }
            #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox img {
              width: 170px;
              height: 96px; }
            #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox p {
              margin: 7px 0;
              height: 40px; }
              #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox p a {
                color: #333;
                font-size: 12px; }
                #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox p a:hover {
                  color: #73c9e5; }
            #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox span {
              cursor: pointer; }
              #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox span a {
                font-size: 12px;
                color: #444; }
                #wrap .l-extend .l-extend-left .l-extend-left-b .l-extend-leftbox-all .l-extend-leftbox span a:hover {
                  color: #73c9e5; }
    #wrap .l-extend .l-extend-right {
      width: 265px;
      height: 220px;
      float: left; }
      #wrap .l-extend .l-extend-right .l-extend-right-h {
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        margin-bottom: 20px; }
        #wrap .l-extend .l-extend-right .l-extend-right-h a {
          display: block;
          background: #f4f4f4;
          text-align: center;
          line-height: 30px;
          color: #333;
          font-size: 14px; }
      #wrap .l-extend .l-extend-right .l-extend-right-b img {
        border-radius: 2px;
        width: 265px;
        height: 154px; }
  #wrap #main .Louti-fanju .l-weblio {
    padding: 49px 0 0px 0;
    height: 428px;
    background: white; }
    #wrap #main .Louti-fanju .l-weblio .l-weblio-l {
      width: 710px;
      float: left; }
      #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head {
        display: flex;
        margin-bottom: 18px; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head .l-on {
          color: #73c9e5;
          border-bottom: 1px solid #73c9e5;
          box-sizing: border-box; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head span {
          font-size: 20px;
          margin: 0 12px 0 12px; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head a {
          margin-left: 141px;
          font-size: 14px;
          padding: 4px 12px;
          border: 1px solid #73c9e5;
          color: #73c9e5;
          border-radius: 2px; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head a:hover {
            background: #73c9e5;
            color: white; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head .l-tabs {
          display: inline-block;
          font-size: 12px; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-head .l-tabs li {
            cursor: pointer;
            float: left;
            padding: 0 11px;
            line-height: 30px; }
      #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox {
        overflow-y: scroll;
        height: 332px; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox {
          cursor: pointer;
          float: left;
          display: flex;
          width: 200px;
          height: 70px;
          justify-content: space-between;
          margin: 0 30px 24px 0; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox img {
            width: 70px;
            height: 70px; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox .l-cardbox-txt {
            width: 126px; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox span {
            font-size: 14px;
            display: block;
            height: 40px;
            overflow: hidden;
            margin-bottom: 16px; }
            #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox span a {
              color: #333; }
              #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox span a:hover {
                color: #73c9e5; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox i {
            font-size: 12px;
            display: block;
            margin-top: 6px; }
            #wrap #main .Louti-fanju .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox i a {
              color: #73c9e5; }
    #wrap #main .Louti-fanju .l-weblio .l-weblio-r {
      width: 265px;
      float: right; }
      #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-head {
        display: flex;
        justify-content: space-between; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-head span {
          font-size: 20px; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-head a {
          font-size: 12px;
          color: #333;
          border-radius: 2px;
          line-height: 22px;
          padding: 0 8px;
          border: 1px solid #ccc;
          height: 22px; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-head a:hover {
            background-color: #eee; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-head a .iconfont {
            font-size: 12px; }
      #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox {
        display: flex;
        justify-content: space-between;
        margin: 18px 0; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-num {
          padding: 0 7px;
          font-size: 12px;
          border-radius: 2px; }
        #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link {
          display: flex;
          justify-content: space-between;
          width: 236px; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link:hover .l-weblio-title {
            color: #73c9e5; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link .l-weblio-title {
            font-size: 14px;
            color: #333;
            width: 136px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #wrap #main .Louti-fanju .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link .l-weblio-update {
            font-size: 12px;
            color: #ccc; }
  #wrap #main .Louti-fanju .l-weblio-o {
    overflow: hidden;
    background: white; }
    #wrap #main .Louti-fanju .l-weblio-o .y-public-list-top span {
      font-size: 20px;
      margin: 0 12px 0 12px; }
    #wrap #main .Louti-fanju .l-weblio-o .y-public-list {
      overflow: hidden;
      width: 710px; }
      #wrap #main .Louti-fanju .l-weblio-o .y-public-list .y-public-list-box {
        height: 380px; }
        #wrap #main .Louti-fanju .l-weblio-o .y-public-list .y-public-list-box .name {
          height: 40px; }
        #wrap #main .Louti-fanju .l-weblio-o .y-public-list .y-public-list-box img {
          width: 170px;
          height: 96px;
          border-radius: 2px; }
        #wrap #main .Louti-fanju .l-weblio-o .y-public-list .y-public-list-box .userNum {
          color: white; }
    #wrap #main .Louti-fanju .l-weblio-o .l-weblio-o-r {
      width: 265px;
      float: right; }
      #wrap #main .Louti-fanju .l-weblio-o .l-weblio-o-r .l-weblio-o-r-head {
        font-size: 20px;
        line-height: 36px; }
      #wrap #main .Louti-fanju .l-weblio-o .l-weblio-o-r .l-weblio-o-r-bottom {
        height: 274px;
        margin-top: 16px; }
        #wrap #main .Louti-fanju .l-weblio-o .l-weblio-o-r .l-weblio-o-r-bottom .swiper-container {
          width: 265px;
          height: 274px; }
          #wrap #main .Louti-fanju .l-weblio-o .l-weblio-o-r .l-weblio-o-r-bottom .swiper-container .my-bullet-active {
            background: url(../img/celectedpic.png) 0 0 no-repeat;
            width: 15px;
            height: 15px;
            background-size: cover; }
  #wrap #main .l-madeinchina .l-weblio {
    padding: 49px 0 0px 0;
    height: 428px;
    background: white; }
    #wrap #main .l-madeinchina .l-weblio .l-weblio-l {
      width: 710px;
      float: left; }
      #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head {
        display: flex;
        margin-bottom: 18px; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head .l-on {
          color: #73c9e5;
          border-bottom: 1px solid #73c9e5;
          box-sizing: border-box; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head span {
          font-size: 20px;
          margin: 0 12px 0 12px; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head a {
          margin-left: 141px;
          font-size: 14px;
          padding: 4px 12px;
          border: 1px solid #73c9e5;
          color: #73c9e5;
          border-radius: 2px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head a:hover {
            background: #73c9e5;
            color: white; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head .l-tabs {
          display: inline-block;
          font-size: 12px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-head .l-tabs li {
            cursor: pointer;
            float: left;
            padding: 0 11px;
            line-height: 30px; }
      #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox {
        overflow-y: scroll;
        height: 332px; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox {
          cursor: pointer;
          float: left;
          display: flex;
          width: 200px;
          height: 70px;
          justify-content: space-between;
          margin: 0 30px 24px 0; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox img {
            width: 70px;
            height: 70px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox .l-cardbox-txt {
            width: 126px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox span {
            font-size: 14px;
            display: block;
            height: 40px;
            overflow: hidden;
            margin-bottom: 16px; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox span a {
              color: #333; }
              #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox span a:hover {
                color: #73c9e5; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox i {
            font-size: 12px;
            display: block;
            margin-top: 6px; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-l .l-weblio-l-bottom .l-webliobox .l-cardbox i a {
              color: #73c9e5; }
    #wrap #main .l-madeinchina .l-weblio .l-weblio-r {
      width: 265px;
      float: right; }
      #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-head {
        display: flex;
        justify-content: space-between; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-head span {
          font-size: 20px; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-head a {
          font-size: 12px;
          color: #333;
          border-radius: 2px;
          line-height: 22px;
          padding: 0 8px;
          border: 1px solid #ccc;
          height: 22px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-head a:hover {
            background-color: #eee; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-head a .iconfont {
            font-size: 12px; }
      #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom {
        height: 280px;
        overflow: hidden; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox {
          display: flex;
          justify-content: space-between;
          margin: 18px 0; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-num {
            padding: 0 7px;
            font-size: 12px;
            border-radius: 2px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link {
            display: flex;
            justify-content: space-between;
            width: 236px; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link:hover .l-weblio-title {
              color: #73c9e5; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link .l-weblio-title {
              font-size: 14px;
              color: #333;
              width: 136px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-weblio-r-bottom .l-weblio-rbox .l-weblio-link .l-weblio-update {
              font-size: 12px;
              color: #ccc; }
      #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-web-b-banner {
        height: 110px; }
        #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-web-b-banner .swiper-container {
          width: 265px;
          height: 110px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-web-b-banner .swiper-container .swiper-slide {
            position: relative; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-web-b-banner .swiper-container .swiper-slide p {
              position: absolute;
              left: 10px;
              bottom: 10px;
              font-size: 12px;
              color: white; }
            #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-web-b-banner .swiper-container .swiper-slide img {
              width: 265px;
              height: 110px; }
          #wrap #main .l-madeinchina .l-weblio .l-weblio-r .l-web-b-banner .swiper-container .my-bullet-active {
            background: url(../img/celectedpic.png) 0 0 no-repeat;
            width: 15px;
            height: 15px;
            background-size: cover;
            color: blue; }
